/* Define estilos para o corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Define estilos para o cabeçalho */
header.navbar {
    background-color: #ececec;
    color: #141313;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: -70px;
}

/* Define estilos para o conteúdo dentro do cabeçalho */
header .container {
    display: flex;
    align-items: center;
}

/* Define estilos para o título no cabeçalho */
header h1 {
    margin-left: 19%;
}

/* Define estilo para o ícone do usúario*/
.user-profile {
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #383434;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    min-width: 320px;
    max-width: 1920px;
    margin: auto;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.user-profile:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Define estilos para a barra de navegação */
nav {
    display: flex;
    align-items: center;
}

/* Define estilos para a lista não ordenada na barra de navegação */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: auto;
    min-width: 320px;
    max-width: 1920px;
    font-size: 0; /* Define o tamanho da fonte como 0 para remover espaçamento entre elementos inline-block */
}

/* Define estilos para os itens da lista na barra de navegação */
nav ul li {
    display: inline-block;
    min-width: 320px;
    max-width: 1920px;
    margin: auto;
    margin-right: 10;
    margin-left: 10;
    font-size: 15px;
}

/* Define estilos para os links na barra de navegação */
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

/* Define estilos para o fleshboard "Período" */
.period-fleshboard {
    grid-column: span 3;
    text-align: center;
}

.highlighted-block {
    background: linear-gradient(180deg, #2E365A 0%, #3F5B8B 100%);
    margin-bottom: 20px;
    margin-top: -45px;
    min-width: 320px;
    max-width: 1920px;
}

/* Define estilos para o container dos fleshboards */
.dashboard {
    justify-content: center; 
    display: flex;
    margin-top:60px;
    background-color: #ececec;
    padding: 40px;
    padding-bottom: 30px;
    width: auto;
}

.period-fleshboard {
    grid-column: span ; /* Ocupa três colunas */
    text-align: center;
    margin-bottom: 20px; /* Espaçamento entre o fleshboard "Período" e as features */
    min-width: 320px;
    max-width: 1920px;
}

/* Define estilos para o título dentro do fleshboard "Período" */
.period-fleshboard h3 {
    margin-top: 5;
    color: #ece7e7;
}

/* Define estilos para o grupo de entrada */
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Define estilos para a entrada de texto */
.input-group input {
    width: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
}

/* Define estilos para o span no grupo de entrada */
.input-group span {
    display: inline-block;
    width: 20px;
    text-align: center;
    line-height: 36px;
}

/* Define estilos para o botão dentro do grupo de entrada / Botão "Pesquisar"*/

.search-button img {
    /*tamanho da imagem do ícone "Pesquisar"*/
    width: 20px;  
    height: 20px; 
}

.input-group button {
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: #141313;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

/* Define estilos para a grade de recursos */
.feature-grid {
    display: grid; /* Exibe os elementos como uma grade */
    grid-template-columns: repeat(3, 1fr); /* Três colunas de largura igual */
    gap: 20px; /* Espaçamento entre os elementos */
}

/* Define estilos para cada recurso */
.feature {
    background: linear-gradient(180deg, #2E365A 0%, #3F5B8B 100%);
    color: #fff;
    padding: 5%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Define estilos para a imagem dentro de cada recurso*/
.feature-image {
    width: 100px;
    height: 100px;
    filter: invert(10%) sepia(100%) saturate(100%) hue-rotate(240deg) brightness(100%) contrast(101%);
    opacity: 0.5;
}


/* Define estilos para o título dentro de cada recurso */
.feature h3 {
    margin-top: 3;
}

/* Define estilos para o parágrafo dentro de cada recurso */
.feature p {
    margin-bottom: 3;
}

/* Define estilos para o container principal */
.container {
    margin: 0 auto; /* Centraliza o container na página */
    display: grid; /* Exibe os elementos como uma grade */
    grid-template-columns: repeat(3, 1fr); /* Três colunas de largura igual */
    gap: 3px; /* Espaçamento entre os elementos */
}

/* Estilos para telas pequenas (até 600px de largura) */
@media (max-width: 600px) {
    .highlighted-block {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px; 
        
    }
    .feature-grid {
        grid-template-columns: repeat(1, 1fr); /* Uma coluna de largura total */
        gap: 10px; /* Espaçamento menor entre os elementos */
    }
}
